h1 Dokumentation

h3 13/5-20

p Idag gjorde jag del 1-3 i uppgiften. Jag skapade ett formulär där användaren kunde byta sitt användarnamn. Ett problem jag fick när jag höll på med användare och login var att sidan för varje gång den uppdaterades gjorde en before do loop. Detta gjorde det problemtatiskt eftersom när jag ändrade användarnamnet med hjälp av mitt formulär så ändrades det tillbaka när sidan på något sätt uppdaterades. Jag lade till författare och rubrik för varje note och hade inte några problem med detta. På sidan där alla notes visas skapade jag en knapp som kunde ta bort alla skapade notes. Till sist skapade jag ett formlär så att man kan logga in. Nästa gång ska jag lägga till error-sida och whitelista sidor så att man inte kan komma in på vissa sidor om man inte ä inloggad. Ska även kolla om det är något sista jag ska lägga till eller ta bort. 

h3 14/5-20

p Idag skapade jag en error-sida och länkade till denna där det behövdes. Jag skapade också en whitelist för sidor man kan komma in på även om man ine är inloggad. 